#contactoTitle{
    background-color: black;
    border-radius: 10px;
}



#contactoTitleContainer{
    color:white;
}

#contactoButton{
    margin:20px 0;
    padding:5px 40px;
    background-color:rgb(107, 9, 199) !important;
    color:white;
}